* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
    letter-spacing: 2px;
  }
  .back-to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 1%;
    bottom: 5%;
    background-color: rgba(163, 151, 151, 0.5);
    cursor: pointer;
  }
  